USE [master]
GO
/****** Object:  Database [BD_TRIATHLON_GR3]    Script Date: 12/02/2026 17:16:42 ******/
CREATE DATABASE [BD_TRIATHLON_GR3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_TRIATHLON_GR3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL_SLAM\MSSQL\DATA\BD_TRIATHLON_GR3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_TRIATHLON_GR3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL_SLAM\MSSQL\DATA\BD_TRIATHLON_GR3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_TRIATHLON_GR3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_TRIATHLON_GR3]
GO
USE [BD_TRIATHLON_GR3]
GO
/****** Object:  User [SIO\Samuel]    Script Date: 12/02/2026 17:16:43 ******/
CREATE USER [SIO\Samuel] FOR LOGIN [SIO\Samuel] WITH DEFAULT_SCHEMA=[SIO\Samuel]
GO
/****** Object:  Schema [SIO\Samuel]    Script Date: 12/02/2026 17:16:43 ******/
CREATE SCHEMA [SIO\Samuel]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[codeCategorie] [int] NOT NULL,
	[libelle] [varchar](50) NOT NULL,
	[ageMini] [int] NOT NULL,
	[ageMaxi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codeCategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoursePied]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursePied](
	[numEpreuve] [int] NOT NULL,
	[denivelePositif] [int] NOT NULL,
	[deniveleNegatif] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numEpreuve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cyclisme]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cyclisme](
	[numEpreuve] [int] NOT NULL,
	[denivelePositif] [int] NOT NULL,
	[deniveleNegatif] [int] NOT NULL,
	[penteMax] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numEpreuve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Epreuve]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Epreuve](
	[numEpreuve] [int] NOT NULL,
	[typeEpreuve] [varchar](20) NOT NULL,
	[latitude] [decimal](9, 6) NOT NULL,
	[longitude] [decimal](9, 6) NOT NULL,
	[idTriathlon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numEpreuve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscription]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscription](
	[idTriathlon] [int] NOT NULL,
	[numDossard] [int] NOT NULL,
	[dateInscription] [date] NOT NULL,
	[forfait] [bit] NOT NULL,
	[numLicence] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTriathlon] ASC,
	[numDossard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laboratoire]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laboratoire](
	[idLaboratoire] [int] NOT NULL,
	[nomLaboratoire] [varchar](100) NOT NULL,
	[adresseRue] [varchar](100) NOT NULL,
	[adresseCP] [varchar](10) NOT NULL,
	[adresseVille] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLaboratoire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Natation]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Natation](
	[numEpreuve] [int] NOT NULL,
	[temperatureEau] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numEpreuve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prelevement]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prelevement](
	[idPrelevement] [int] NOT NULL,
	[datePrelevement] [date] NOT NULL,
	[idTriathlon] [int] NOT NULL,
	[numLicence] [int] NOT NULL,
	[idLaboratoire] [int] NOT NULL,
	[etat] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPrelevement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProduitDopant]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProduitDopant](
	[idProduitDopant] [int] IDENTITY(1,1) NOT NULL,
	[codeProduit] [varchar](20) NOT NULL,
	[nomProduit] [nvarchar](100) NOT NULL,
	[tauxMax] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ProduitDopant] PRIMARY KEY CLUSTERED 
(
	[idProduitDopant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ProduitDopant_nom] UNIQUE NONCLUSTERED 
(
	[nomProduit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultatEpreuve]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultatEpreuve](
	[idTriathlon] [int] NOT NULL,
	[numDossard] [int] NOT NULL,
	[numEpreuve] [int] NOT NULL,
	[temps] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTriathlon] ASC,
	[numDossard] ASC,
	[numEpreuve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taux]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taux](
	[idTaux] [int] IDENTITY(1,1) NOT NULL,
	[idPrelevement] [int] NOT NULL,
	[idProduitDopant] [int] NOT NULL,
	[mesure] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Taux] PRIMARY KEY CLUSTERED 
(
	[idTaux] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Taux_Prelevement_Produit] UNIQUE NONCLUSTERED 
(
	[idPrelevement] ASC,
	[idProduitDopant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Triathlete]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Triathlete](
	[numLicence] [int] NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[prenom] [varchar](50) NOT NULL,
	[sexe] [char](1) NOT NULL,
	[adresseRue] [varchar](100) NOT NULL,
	[adresseCP] [varchar](10) NOT NULL,
	[adresseVille] [varchar](50) NOT NULL,
	[dateNaissance] [date] NOT NULL,
	[codeCategorie] [int] NOT NULL,
	[login] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numLicence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Triathlon]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Triathlon](
	[idTriathlon] [int] NOT NULL,
	[nomTriathlon] [varchar](100) NOT NULL,
	[lieu] [varchar](50) NOT NULL,
	[dateTriathlon] [date] NOT NULL,
	[codeType] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTriathlon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeTriathlon]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeTriathlon](
	[codeType] [int] NOT NULL,
	[libelleType] [varchar](50) NOT NULL,
	[distanceNatation] [decimal](6, 2) NOT NULL,
	[distanceCyclisme] [decimal](6, 2) NOT NULL,
	[distanceCourse] [decimal](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codeType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 12/02/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[login] [varchar](50) NOT NULL,
	[motDePasseHash] [char](64) NOT NULL,
	[role] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prelevement] ADD  DEFAULT ('EN ATTENTE') FOR [etat]
GO
ALTER TABLE [dbo].[CoursePied]  WITH CHECK ADD FOREIGN KEY([numEpreuve])
REFERENCES [dbo].[Epreuve] ([numEpreuve])
GO
ALTER TABLE [dbo].[Cyclisme]  WITH CHECK ADD FOREIGN KEY([numEpreuve])
REFERENCES [dbo].[Epreuve] ([numEpreuve])
GO
ALTER TABLE [dbo].[Epreuve]  WITH CHECK ADD FOREIGN KEY([idTriathlon])
REFERENCES [dbo].[Triathlon] ([idTriathlon])
GO
ALTER TABLE [dbo].[Inscription]  WITH CHECK ADD FOREIGN KEY([idTriathlon])
REFERENCES [dbo].[Triathlon] ([idTriathlon])
GO
ALTER TABLE [dbo].[Inscription]  WITH CHECK ADD FOREIGN KEY([numLicence])
REFERENCES [dbo].[Triathlete] ([numLicence])
GO
ALTER TABLE [dbo].[Natation]  WITH CHECK ADD FOREIGN KEY([numEpreuve])
REFERENCES [dbo].[Epreuve] ([numEpreuve])
GO
ALTER TABLE [dbo].[Prelevement]  WITH CHECK ADD FOREIGN KEY([idLaboratoire])
REFERENCES [dbo].[Laboratoire] ([idLaboratoire])
GO
ALTER TABLE [dbo].[Prelevement]  WITH CHECK ADD FOREIGN KEY([idTriathlon])
REFERENCES [dbo].[Triathlon] ([idTriathlon])
GO
ALTER TABLE [dbo].[Prelevement]  WITH CHECK ADD FOREIGN KEY([numLicence])
REFERENCES [dbo].[Triathlete] ([numLicence])
GO
ALTER TABLE [dbo].[ResultatEpreuve]  WITH CHECK ADD FOREIGN KEY([numEpreuve])
REFERENCES [dbo].[Epreuve] ([numEpreuve])
GO
ALTER TABLE [dbo].[ResultatEpreuve]  WITH CHECK ADD FOREIGN KEY([idTriathlon], [numDossard])
REFERENCES [dbo].[Inscription] ([idTriathlon], [numDossard])
GO
ALTER TABLE [dbo].[Taux]  WITH CHECK ADD  CONSTRAINT [FK_Taux_Prelevement] FOREIGN KEY([idPrelevement])
REFERENCES [dbo].[Prelevement] ([idPrelevement])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Taux] CHECK CONSTRAINT [FK_Taux_Prelevement]
GO
ALTER TABLE [dbo].[Taux]  WITH CHECK ADD  CONSTRAINT [FK_Taux_ProduitDopant] FOREIGN KEY([idProduitDopant])
REFERENCES [dbo].[ProduitDopant] ([idProduitDopant])
GO
ALTER TABLE [dbo].[Taux] CHECK CONSTRAINT [FK_Taux_ProduitDopant]
GO
ALTER TABLE [dbo].[Triathlete]  WITH CHECK ADD FOREIGN KEY([codeCategorie])
REFERENCES [dbo].[Categorie] ([codeCategorie])
GO
ALTER TABLE [dbo].[Triathlete]  WITH CHECK ADD FOREIGN KEY([login])
REFERENCES [dbo].[Utilisateur] ([login])
GO
ALTER TABLE [dbo].[Triathlon]  WITH CHECK ADD FOREIGN KEY([codeType])
REFERENCES [dbo].[TypeTriathlon] ([codeType])
GO
USE [master]
GO
